# Overview

Use visual aids like colour and format to commu nicate moreeffectively.

Pandas provides some very useful styling and options/setings to help here

# Import Packages

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
df = pd.read_csv(filepath_or_buffer='../Data/salaries.csv')

# Pandas Options/Settings API
Pandas have an options system that lets you customize some aspects of its behavior.

Often there are too many columns/rows in the dataframe and some columns/rows in the middle are omitted on display.

## Show at most 7 rows and at most 7 columns

In [ ]:
pd.set_option('display.max_rows',7)
pd.set_option('display.max_columns',7)

## Column width, precision

In [ ]:
pd.set_option('max_colwidth', 40)
pd.set_option('display.precision', 4)
pd.set_option('chop_threshold', .5)

## All Options

In [ ]:
pd.describe_option()

# Pandas Styling API

Pandas has a styling system that lets users customize some aspects of its the rendered dataframe, using CSS. 

Write a **style function** that take scalars, DataFrame or Series, and return like-indexed DataFrames or Series with CSS **key:value** pairs for the values.

The most straightforward styling example is using currency symbols when working with currency values. 

For example the columns (BasePay, OvertimePay, OtherPay, TotalPay, and TotalPayBenefit) are currency values. To add dollar signs and commas, format as follows:

In [7]:
df.head(10).style.format({"BasePay": "${:20,.0f}", 
                          "OvertimePay": "${:,.0f}", 
                          "OtherPay": "${:,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})

Often a good idea to store the formatting attributes in a seperate variable

In [23]:
ccy_formats = {
    "BasePay": "${:20,.0f}", 
    "OvertimePay": "${:,.0f}", 
    "OtherPay": "${:,.0f}", 
    "TotalPay": "${:20,.0f}",
    "TotalPayBenefits":"${:20,.0f}"
}

df.head(10).style.format(formatter=ccy_formats)

These styling functions can be incrementally passed to the `Styler` which collects the styles before rendering.

**Note** 

style.format returns a styler object, not a DataFrame.
Trying to add incremental styling does not work, all but the final stlyings are lost

In [24]:
name_formats = {
    "JobTitle": lambda x:x.lower(),
    "EmployeeName": lambda x:x.lower()
}

df.head(10).style.format(formatter=ccy_formats).format(formatter=name_formats)

## Incremental Styling Workaround

Merge all styling dictionaries into a single dictionary and then style

In [33]:
def merge_formatters(d1, d2):
    d3 = dict()

    d3.update(d1)
    d3.update(d2)
    
    return d3

In [34]:
col_formats = merge_formatters(ccy_formats,name_formats)
df.head(10).style.format(formatter=col_formats)

## Hide an index

Use the `hide` function to suppresses the display of the index

In [35]:
df.head(10).style.format(formatter=col_formats).hide()

# Highlighters

By using conditional formatting, the visual styling of a DataFrame depending on the actual data within. 

The simplest example is the builtin functions in the style API, for example, to highlight the highest number in green and the lowest number in color

In [36]:
df.head(10).style.format(formatter=col_formats).hide().highlight_max(color='lighgreen').highlight_min(color='red')

In [37]:
df.head(10).style.format(formatter=col_formats).hide().background_gradient(cmap='Blues')

## Styler Properties

In [40]:
styler_properties = {
    'background-color': 'black',                                                   
    'color': 'lawngreen',                       
    'border-color': 'white'
}

df.head(10).style.set_properties(**styler_properties)

# Map

Most of the time the following are the most useful:

- `Styler.map(func)` for element-wise styles.
- `Styler.apply(func, axis=0)` for column-wise styles.
- `Styler.apply(func, axis=1)` for row-wise styles.
- `Styler.apply(func, axis=None)` for tablewise styles.

In [45]:
def red_or_black(x):
    return f"color:{'red' if isinstance(x,str) else 'black'}"

df.head(10).style.format(formatter=col_formats).hide().map(red_or_black)

## Bars Charts within DataFrames

pandas styling API also supports more advanced styling like drawing bar charts within the columns

In [51]:
df.head(10).sort_values(by='TotalPay', ascending=False).style.format(formatter=col_formats).hide() \
                 .bar(subset=["OtherPay",], color='lightgreen')\
                 .bar(subset=["BasePay"], color='#ee1f5f')\
                 .bar(subset=["TotalPay"], color='#FFA07A')